.wrapper{
    width:100vw;

}
.wrapper a{
    display: inline-block;
    line-height: 36px;
    padding: 0 12px;
    font-size: 16px;
    color: #333;
    margin-right: 5px;
    border-bottom: 3px solid #2d6ab1;
}